@page
@model Kinoteatr_Web_2027.Pages.Account.Users.DeleteModel
@{
}

<div class="container mt-4">

    <h2>Delete User</h2>

    <div class="alert alert-danger">
        Are you sure you want to delete this user?
    </div>

    <ul class="list-group mb-3">
        <li class="list-group-item">
            <b>Email:</b> @Model.User.Email
        </li>
        <li class="list-group-item">
            <b>Role:</b> @Model.User.Role
        </li>
    </ul>

    <form method="post">

        <input type="hidden" asp-for="User.Id" />

        <button type="submit" class="btn btn-danger">
            Delete
        </button>

        <a asp-page="Index" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>