@page
@model Kinoteatr_Web_2027.Pages.Visitors.CreateModel

@{
    ViewData["Title"] = "Добавить Зрителя";
}

<h1 class="mb-4">Добавить Зрителя</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Visitor.LastName" class="form-label"></label>
                        <input asp-for="Visitor.LastName" class="form-control" />
                        <span asp-validation-for="Visitor.LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Visitor.Email" class="form-label"></label>
                        <input asp-for="Visitor.Email" class="form-control" />
                        <span asp-validation-for="Visitor.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Visitor.Phone" class="form-label"></label>
                        <input asp-for="Visitor.Phone" class="form-control" />
                        <span asp-validation-for="Visitor.Phone" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Visitor.BirthDate" class="form-label"></label>
                        <input asp-for="Visitor.BirthDate" type="date" class="form-control" />
                        <span asp-validation-for="Visitor.BirthDate" class="text-danger"></span>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>

                        <a asp-page="Index" class="btn btn-secondary">
                            Назад
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}