@page
@model Kinoteatr_Web_2027.Pages.Visitors.CreateModel

@{
    ViewData["Title"] = "Добавить Зрителя";
}

<h1>Добавить покупателя</h1>
<form method="post">
    <div>
        <label>ФИО</label><br />
        <input asp-for="Visitor.LastName" />
        <span asp-validation-for="Visitor.LastName"></span>
    </div>
    <div>
        <label>Email</label><br />
        <input asp-for="Visitor.Email" />
    </div>
    <div>
        <label>Телефон</label><br />
        <input asp-for="Visitor.Phone" type="Phone" />
    </div>
    <div class="Дата рождения">
        <input asp-for="Visitor.BirthDate" />
        <span asp-validation-for="Visitor.BirthDate"></span>
    </div>
</form>
<a asp-asp-page="Index">Назад</a>

@section Scripts 
    {
    <partial name="_ValidationScriptsPartial" />
    }