@page
@model Kinoteatr_Web_2027.Pages.Tickets.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow-sm">

                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Добавить билет</h4>
                </div>

                <div class="card-body">

                    <form method="post">

                        <div class="mb-3">
                            <label asp-for="Ticket.Title" class="form-label">Название</label>
                            <input asp-for="Ticket.Title" class="form-control" />
                            <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Ticket.Viewer" class="form-label">Зритель</label>
                            <input asp-for="Ticket.Viewer" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Ticket.Date" class="form-label">Дата</label>
                            <input asp-for="Ticket.Date" type="date" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Ticket.Summa" class="form-label">Цена</label>
                            <input asp-for="Ticket.Summa" type="number" class="form-control" />
                        </div>

                        <div class="d-flex justify-content-between">

                            <a asp-page="Index" class="btn btn-secondary">
                                Назад
                            </a>

                            <button type="submit" class="btn btn-success">
                                Сохранить
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}