@page
@model Kinoteatr_Web_2027.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить покупателя</h1>

<h3>Вы уверены?</h3>

<div>
    <p><strong>@Model.Ticket.Title</strong></p>
    <p>Смотритель: @Model.Ticket.Viewer</p>
    <p>Дата: @Model.Ticket.Date</p>
    <p>Сумма: @Model.Ticket.Summa</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Ticket.Title" />
    <button type="submit">Удалить</button>
</form>

<a asp-page="Index">Отмена</a>