@page
@model Kinoteatr_Web_2027.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Информация об билете</h1>

<div>
    <p><strong>Наименование:</strong> @Model.Ticket.Title</p>
    <p><strong>Зритель:</strong> @Model.Ticket.Viewer</p>
    <p><strong>Дата:</strong> @Model.Ticket.Date</p>
    <p><strong>Цена билета:</strong> @Model.Ticket.Summa</p>
</div>

<p>
    <a asp-page="Index">Назад к списку</a>
</p>
