@page
@model Kinoteatr_Web_2027.Pages.Tickets.EditModel

@{
    ViewData["Title"] = "Редактирование данных о билете";
}

<h1>Редактировать данные</h1>

<form method="post">
    <input type="hidden" asp-for="Ticket.Title" />
    <div>
        <label>Зритель</label><br />
        <input asp-for="Ticket.Viewer" />
    </div>
    <div>
        <label>Дата</label><br />
        <input asp-for="Ticket.Date" type="email" />
    </div>
    <div>
        <label>Цена билета</label><br />
        <input asp-for="Ticket.Summa" type="date" />
    </div>

    <button type="submit">Сохранить</button>
</form>

<a asp-page="Index">Назад</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
